*.pyc
*#
*.so
*.pyd
*~
build/
pyrsistent.egg-info/
dist/
.idea
.tox
README.html
.hypothesis
.cache
#*
.coverage
.pytest_cache
.eggs
Pipfile*
coverage.xml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
