# Requirements for developing, testing and releasing pyrsistent
hypothesis
memory-profiler==0.57.0
psutil==5.7.0
pyperform
pytest
Sphinx
sphinx-rtd-theme
tox
setuptools>=0.16.1
twine>=3.2
pip>=20.2.3
pip-tools